/* 主页 */
.home {
    color: rgba(220, 220, 220, .8);
    text-align: center;
    padding-top: 200px;
    line-height: 60px;
}

.home h1 {
    font-size: 40px;
}

.home h4 {
    font-weight: 100;
    font-size: 20px;
}